.container{
    padding: 10px;
    border: 5px solid black;
    background-color: beige;
    height: 1000px;
    display: flex;
    flex-direction: row;
    /* flex-wrap: wrap; */
    /* justify-content: center; */
    /* justify-items: start; */
    /* align-content: center; */
    align-items: center; 
    width: 100%;
}
.box{
    border: 2px dashed black;
    width: 100%;
    height: auto;
    margin: 10px;
    padding: 10px;
}
#box1{
    background-color: aqua;
    align-self: self-start;
    order:4;
    flex-basis: 25%;
}

#box2{
    background-color: blue;
    order:1;
    flex-basis: 25%;
    align-self: self-start;
}

#box3{
    background-color: red;
    order:0;
    flex-basis: 25%;

}

#box4{
    background-color: yellow;
    order: 2;
    flex-basis: 25%;

}
