.container{
    padding: 10px;
    border: 5px solid black;
    background-color: beige;
    height: 1000px;
    display: flex;
    flex-direction: row;
    /* flex-wrap: wrap; */
    /* justify-content: center; */
    /* justify-items: start; */
    /* align-content: center; */
    align-items: center; 
    width: 100%;
}
.box{
    border: 2px dashed black;
    width: 100%;
    height: auto;
    margin: 10px;
    padding: 10px;
}
#box1{
    background-color: aqua;
    align-self: self-start;
    order:4;
    flex-basis: 25%;
}

#box2{
    background-color: blue;
    order:1;
    flex-basis: 25%;
    align-self: self-start;
}

#box3{
    background-color: red;
    order:0;
    flex-basis: 25%;

}

#box4{
    background-color: yellow;
    order: 2;
    flex-basis: 25%;

}


.gridcontainer{
    background-color: beige;
    border: 5px solid black ;
    width: 90vw;
    height: 90vh;
    margin: 2rem;
    display: grid;
    row-gap: 1rem;
    grid-template-rows: 1fr 3fr 3fr 1fr;
    grid-template-columns: repeat(3,1fr);
    column-gap: 1rem;
    padding: 1rem;
}
.item{
    background-color: aqua;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
}
.header{
    grid-column-start: 1;
    grid-column-end: 4;
}
.sidebar{
    grid-row-start: 2;
    grid-row-end: 4;
}
.footer{
    grid-column-start: 1;
    grid-column-end: 4;
}
.content1{
    grid-column-start: 2;
    grid-column-end: 4;
}
