/* To remove any sort of default margin and padding  */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 2rem;
    background: #f8fbfb;
}
.navlinks{
    list-style: none;
    display: flex;
    gap: 2rem;
}
.navlinks a{
    text-decoration: none;
    color: #000;
    font-size:larger;
}
.button{
    padding: 0.5rem;
    border: none;
    width: 100px;
    height: 40px;
    border-radius: 8px;
    cursor: pointer;
    font-weight: 500;
    margin: 0.5rem;
    font-size: medium;
}
.login{
    background-color: #ffffff;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
}
.signup{
    background-color: #085c5c;
    color:#ffffff ;
    font-size: medium;
    font-weight:bolder;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
}
.heroSection {
  padding: 4rem 6rem;
}

.hero {
  display: flex;
  align-items: center;
  /* justify-content: space-between;
  flex-wrap: wrap; */
}

.heroLeft {
  flex: 1 1 50%;
  min-width: 50%;
}

.heroLeft h1 {
  font-size: 5rem;
  font-weight: 700;
  line-height: 1.2;
  color: #0a2540;
}

.heroLeft p {
  margin-top: 1.5rem;
  font-size: 1.5rem;
  color: #4b5563;
}

.heroForm {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-top: 2rem;
}

.heroForm input {
  flex: 1;
  padding: 1rem 1rem;
  border-radius: 8px;
  border: 1px solid #d1d5db;
  font-size: 1rem;
}
.green {
  background-color: #007c89;
  border: none;
  color: #fff;
  font-weight: 500;
  border-radius: 8px;
  /* padding: 0.9rem 1.5rem; */
  padding: 0.5rem;
  cursor: pointer;
}

.button.green:hover {
  background-color: #005f68;
}

.heroLogos {
  display: flex;
  align-items: center;
  gap: 2rem;
  margin-top: 2.5rem;
}

.heroLogos h2 {
  font-size: 1.3rem;
  font-weight: 600;
  color: #0a2540;
  opacity: 0.7;
}

.heroRight {
  flex: 1 1 50%;
    background-color: #085c5c;
}

.heroRight img {
  width: 100%;
  height: auto;
  
}

.futurePaymentSection{
    padding: 5rem;
    margin: 10rem;
    border-radius: 2rem;
    box-shadow: 0px 2px 20px 5px rgba(194, 189, 189, 0.3);
    background-color: #f8fafc;
    /* box-shadow: -5px -5px 10px rgba(0, 0, 0, 0.3); */
}

.text{
    color: #007c89;
    font-weight: bolder;
    margin-bottom: 1rem;
}
.futurePaymentSection .row1,.futurePaymentSection .row2{
    display: flex;
    align-items: center;
}
.futurePaymentSection .row1 .col1 {
    flex: 1 1 50%;
  min-width: 50%;
}
.futurePaymentSection .row1 .col1 p{
    font-size: 4rem;
    margin-bottom: 1rem;
    font-weight: medium;
}
.futurePaymentSection .row1 .col2{
    flex: 1 1 50%;
  min-width: 50%;
  margin-left: 6rem;
}
.futurePaymentSection .row1 .col2 p{
    font-size: 1rem;
    margin-bottom: 1rem;
    font-weight:300;
    margin-left: 7rem;
    color: #4b5563;
    line-height: 2rem;
}
.futurePaymentSection .row2 {
    gap: 14rem;padding-top: 2rem;
}
.subHeading{
    font-weight: bold;
    font-size: 2rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.subPara{
    font-size: 1rem;
    color: #4b5563;
    line-height: 2rem;
    min-width: 350px;
}
.paymentLogos{
    height: 60px;
    width: auto;
}

.whyUsSection{
    padding: 0rem 10rem 0rem 10rem;
}
.whyUs .row1, .whyUs .row2{
    display: flex;
    justify-content: center;
    margin: 2rem 0rem ;
    gap: 3rem;
}
.whyUs .row1 .col1, .whyUs .row1 .col2{
    flex: 1 1 50%;
    min-width: 50%;
    background-color: #f8fafc;
    padding: 4rem;
    border-radius: 2rem;
}
.whyUs .text1{
    font-size: 1.5rem;
    color: #007c89;
    font-weight: bold;
    text-align: center;
}
.whyUs .text2{
    font-size: 2.5rem;
    font-weight: 600;
    margin-top: 1rem;
    text-align: center;
}

.whyUs .row1 .col1 .t1{
    font-size: 6rem;
    font-weight: bold;
    color: #007c89;
    margin-bottom: 2rem;
}

.whyUs .row1 .col1 .t2, .whyUs .row1 .col2 p{
    font-size: 2.5rem;
    font-weight: 400;
}
.whyUs .row1 .col2 p{
    margin-bottom: 2rem;
}
.whyUs .row1 .col2 img{
    margin-top: 2rem;
    height: 80px;
    width: auto;
    margin-left: 3rem;
}
.whyUs .row2{
    background-color: #f8fafc;
    border-radius: 2rem;
}
.whyUs .row2 .col1  {
    flex: 1 1 30%;
    min-width: 50%;
    padding: 4rem;
    border-radius: 2rem;
}
.whyUs .row2 .col2  {
    flex: 1 1 70%;
    min-width: 50%;
    border-radius: 2rem;
}
.whyUs .row2 .col2 img{
    margin-top: 2rem;
    width: 80%;
    height: auto;}
.t3{
    font-size: 2.5rem;
    margin-bottom: 2rem;

}