/* To remove any sort of default margin and padding  */
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto','Lato', sans-serif;
}
p {
  margin: 0;
  padding: 0;
}

.container{
    max-width: 1400px;
    width: 100%;
    margin: auto;
}
header{
    background: #f8fbfb;
    position: sticky;
    top: 0;
}
.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px 0px;
    z-index: 9;
    /* padding: 1rem 5rem 0rem 2rem; */
}
.navlinks{
    list-style: none;
    display: flex;
    gap: 32px;
}
.navlinks a{
    text-decoration: none;
    color: #000;
    font-size:larger;
}
.button{
    padding: 8px;
    border: none;
    width: 100px;
    height: 40px;
    border-radius: 8px;
    cursor: pointer;
    font-weight: 500;
    font-size: medium;
}
.login{
    background-color: #ffffff;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
}
.signup{
    background-color: #085c5c;
    color:#ffffff ;
    font-size: medium;
    font-weight:bolder;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
}
.hero {
  display: flex;
  align-items: center;
  padding-left: 32px;
  /* justify-content: space-between;
  flex-wrap: wrap; */
}
.bolderText{
    font-weight: 700;
}
.heroLeft {
    flex: 0 0 50%;
    max-width: 50%;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.heroLeft h1 {
  font-size: 60px;
  font-weight: 500;
  line-height: 70px;
  color: #0a2540;
}

.heroLeft p {
  font-size: 25px;
  line-height: 35px;
  color: #4b5563;
}

.heroForm {
  align-items: center;
}
.heroForm input{
    width: 480px;
}
.heroForm input {
  padding: 16px 16px;
  border-radius: 8px;
  border: 1px solid #d1d5db;
  font-size: 16px;
}
.heroButton{
    padding: 12px;
    border-radius: 8px;
    border: none;
    font-weight: 700;
    color: #ffffff;
    background-color: #007c89;
    transform: translate(-104px);

}
.heroButton:hover{
    background-color: #085c5c;
}
.heroB{
    background-color: #007c89;
    padding: 16px;
    display: inline;

}
.green {
  background-color: #007c89;
  border: none;
  color: #fff;
  font-weight: 500;
  border-radius: 8px;
  padding: 8px;
  cursor: pointer;
}

.button.green:hover {
  background-color: #005f68;
}
.heroLogos {
  display: flex;
  align-items: center;
  gap: 48px;
  /* margin-top: 2.5rem; */
}

.heroLogos h2 {
  font-size: 40px;
  font-weight: 600;
  color: #0a2540;
  opacity: 0.7;
}

.heroRight {
  flex: 0 0 50%;
  max-width: 50%;
    background-color: #085c5c;
}

.heroRight img {
  width: 100%;
  height: auto;
  
}

.futurePaymentSection{
    margin-top: 64px;
    margin-bottom: 64px;
    padding: 48px;
    border-radius: 32px;
    box-shadow: 0px 2px 20px 5px rgba(194, 189, 189, 0.3);
    background-color: #f8fafc;
    /* box-shadow: -5px -5px 10px rgba(0, 0, 0, 0.3); */
}

.text{
    color: #007c89;
    font-weight: bolder;
    margin-bottom: 16px;
}
.futurePaymentSection .row1,.futurePaymentSection .row2{
    display: flex;
    align-items: center;
    width: 100%;
}
.futurePaymentSection .row1 .col1 {
    flex: 0 0 50%;
  max-width: 50%;
  width: 100%;
}
.futurePaymentSection .row1 .col1 p{
    font-size: 55px;
    margin-bottom: 16px;
    font-weight: medium;
}
.futurePaymentSection .row1 .col2{
    flex: 0 0 50%;
  max-width: 50%;
  width: 100%;
  /* margin-left: 6rem; */
}
.futurePaymentSection .row1 .col2 p{
    font-size: 24px;
    margin-bottom: 16px;
    font-weight:300;
    margin-left: 112px;
    color: #4b5563;
    line-height: 48px;
    /* padding: 64px; */
}
.futurePaymentSection .row2 {
    width: 100%;
    padding-top: 32px;
    
}
.futurePaymentSection .row2 .c1, .futurePaymentSection .row2 .c2, .futurePaymentSection .row2 .c3{
    max-width: 33.33%;
    width: 100%;
    padding-right: 78px ;
    margin-bottom: 32px;
}
.subHeading{
    font-weight: bold;
    font-size: 32px;
    margin-top: 16px;
    margin-bottom: 16px;
}
.subPara{
    font-size: 16px;
    color: #4b5563;
    line-height: 32px;
}
.t3Para{
    font-size: 24px;
    color: #4b5563;
    line-height: 32px;
}
.paymentLogos{
    height: 60px;
    width: auto;
}
.whyUs{
    margin-top: 80px;
}
.whyUs .row1{
    display: flex;
    margin-bottom: 32px;
    gap: 32px;
}
.whyUs .row2{
    display: flex; 
    margin-bottom: 32px;
    /* gap: 2rem; */
}
.whyUs .row1 .col1, .whyUs .row1 .col2{
    max-width: 50%;
    background-color: #f8fafc;
    border-radius: 32px;
    width: 100%;
    padding: 32px;
}
.content{
    padding: 32px;
    padding-left: 32px;
}
.whyUs .text1{
    font-size: 24px;
    color: #007c89;
    font-weight: bold;
    text-align: center;
}
.whyUs .text2{
    font-size: 40px;
    font-weight: 600;
    margin-top: 16px;
    margin-bottom: 48px;
    text-align: center;
}

.whyUs .row1 .col1 .t1{
    font-size: 96px;
    font-weight: bold;
    color: #007c89;
    margin-bottom: 32px;
}

.whyUs .row1 .col1 .t2, .whyUs .row1 .col2 p{
    font-size: 40px
    font-weight: 400;
}
.whyUs .row1 .col2 p{
    margin-bottom: 32px;
}
.whyUs .row1 .col2 img{
    margin-top: 32px;
    height: 80px;
    width: auto;
    /* margin-left: 3rem; */
}
.whyUs .row2{
    background-color: #f8fafc;
    border-radius: 32px;
}
.whyUs .row2 .col1  {
    /* flex: 0 0 50%; */
    max-width: 30%;
    padding: 64px;
    width: 100%;
    border-radius: 32px;
    padding-top: 192px;
    /* align-items: center; */
}
.whyUs .row2 .col2  {
    /* flex: 0 0 50%; */
    max-width: 70%;
    width: 100%;
    border-radius: 32px;
}
.whyUs .row2 .col2 img{
    margin-top: 32px;
    width: 100%;
    height: auto;}
.whyUs .row2 .col1 .t3{
    font-weight: 600;
    font-size: 48px;
    margin-bottom: 32px;

}
.con{
    display: flex;
}
.con .f1{
    flex: 0 0 60%;
    max-width: 60%;
    width: 100%;
}
.step,.section{
    padding: 96px;
    background-color: #032D3E;
    margin-top: 64px;
    margin-bottom: 64px;
}
.step .t1,.section .t1 {
    color: #005f68;
    margin-bottom: 16px;
}

.step .t2, .section .t2{
    color: #ffffff;
    font-size: 55px;
    margin-bottom: 64px;
}
.step .steps{
    display: flex;
    gap: 32px;
}
.step .steps .step1, .step .steps .step2, .step .steps .step3{
    background-color: #0A3E52;
    padding: 32px;
    border-radius: 12.8px;
    box-shadow: 0px 2px 20px 5px rgba(26, 25, 25, 0.3);
    /* flex:0 0 29%; */
    max-width: 29%;
    width: 100%;
}
.number{
    font-size: 96px;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #fff;
    background: linear-gradient(to bottom, #b9d5e2, #0A3E52);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.subText{
    color: #ffffff;
    font-size: 24px;
    margin-top: 16px;
    margin-bottom: 16px;
}
.superSubText{
    color: #a39d9d;
    font-size: 20.8px;
}
.mission{
    /* margin: 4rem; */
    margin: 80px 0px;
}
.mission .t1{
    color: #005f68;
    margin-bottom: 16px;
    text-align: center;
}
.mission .t2{
    text-align: center;
    font-size: 64px;
    margin-bottom: 16px;
}
.mission .t3{
    text-align: center;
    font-size: 24px;
    color: #4b5563;
    margin-bottom: 12.8px;
}
.mission .row1{
    display: flex;
    justify-content: center;
    gap: 80px;
    margin-top: 64px;
}
.mission .row1 .col1, .mission .row1 .col2, .mission .row1 .col3{
    text-align: center;
}
.first{
    font-size: 64px;
}
.before{
    text-align: center;
    color: #0A3E52;
    margin-top: 48px;
}

.mission .row2{
    display: flex;
    justify-content: center;
    gap: 48px;
    margin-top: 32px;
}
.mission .row2 .col1 button, .mission .row2 .col2 button{
    padding:24px ;
    border-radius:8px;
    min-width: 320px;
    border: none;
}
.one ,.two{
    cursor: pointer;
}
.b1{
    font-size: 40px;
    font-weight: bold;margin-bottom: 80px;
}
.b2{
    font-size: 24px;
    color: #4b5563;
    display: inline;
}
.lower{
    display: flex;
    justify-content: space-between;

}
.arrow{
    width: 30px;
    height: auto;
    margin-left: 16px;

}

.section .t3{
    color: #a39d9d;
    font-size: 16px;
    margin-top: -32px;
}
.section{
    display: flex;
    align-items: center;
    /* margin: 4rem; */
    border-radius: 32px;
}
.section .col1{
    flex: 0 0 40%;
  max-width: 40%; 


}
.section .col2{
    /* flex: 0 0 60%; */
    width: 100%;
  max-width: 60%; 
    padding: 96px;
    display: flex;
    gap: 16px;
    justify-content: center;
}
.button1 {
    padding: 16px;
    border-radius: 8px;
    font-size: 16px;
}
.buttonGW{
    background-color: #007c89;
    color: #ffffff;
    border: none;
    cursor: pointer;
}
.buttonGW:hover {
    background-color: #005f68;
}
.buttonBC{
    background-color: #032D3E;
    color: #ffffff;
    border: 1.6px solid #007c89;
}
.buttonBC:hover {
    color: #007c89;
    background-color: #ffffff;
    border: 1.6px solid #007c89;
}
.section .col1 .t2{
    font-size: 56px;
    margin-bottom: 64px;
}
.section .col1 .t3{
    font-size: 1.3rem;
    color: #9399a1;
    line-height: 1.5rem;
    font-weight: lighter;
}
.icons{
    height: 20.8px;
    width: auto;
}
.footer{
    /* margin: 4rem; */
    margin-top: 32px;
    display: flex;
}
.footer .col1, .footer .col3{
    flex: 0 0 25%;
    min-width: 25%;
    justify-content: center;
}
.footer .col2{
    flex: 0 0 50%;
    max-width: 50%;
    display: flex;
    justify-content: center;
    gap: 64px;
}

.cards ul{
    list-style:none;
}
.cards ul li{
    font-size: 16px;line-height: 32px;
    
}
.cards a{
    text-decoration: none;
    color: #7b7d81;
    
}
.h4{
    font-size: 64px;
    font-weight: bold   ;
    margin-bottom: 32px;
}
.footer .col3{
    text-align: center;
}
.footer .col3 p{
    font-size: 16px;
    margin-bottom: 32px;
}
.footer .col3 .ic{
    display: flex;
    gap: 32px;
    justify-content: center;
}
.subFooter{
    margin: 64px;
    text-align: center;
    line-height: 1.6px;
}
.subFooter p{
    margin-top: 32px;
    color: #085c5c;
}
hr {
  border: none; 
  height: 1px; 
  background-color: #ccc; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
}

@media screen and (min-width: 767px) and (max-width: 1024px){
    *{
        box-sizing: border-box;
        margin: 0;
        padding: 0;
    }
    .container{
        max-width: 100%;
    }
    .navbar{
        padding: 0px 10px;
    }
    .heroForm{
        display: flex;
    }
    .futurePaymentSection .row2 .c1 ,.futurePaymentSection .row2 .c2,.futurePaymentSection .row2 .c3{
        padding-right: 20px;
        max-width: 100%;
    }
    .futurePaymentSection  .row1 .col2 p{
        margin-left: 0px;
        font-size: 18px;
        line-height: 35px;
    }
    .heroLeft h1{
        font-size: 70px;
    }
    .heroLeft p{
        font-size: 32px;
    }
    .futurePaymentSection .row1 .col1 p{
        font-size: 40px;
    }
    .whyUs .row1 .col1 .t2, .whyUs .row1 .col2 p {
        font-size: 25px;
    }
    .whyUs .row2 .col1 {
     flex: 0 0 50%;     /* max-width: 30%; */
    padding: 33px;
    width: 100%;
    border-radius: 32px;
    padding-top: 74px;
    /* align-items: center; */
    }
    .whyUs .row2 .col1 .t3{
    font-size: 55px;
    }
    .t3Para{
        font-size: 19px;
    }

.con .f1 {
    flex: 0 0 80%;
    max-width: 80%;
    width: 100%;
}
.step .t2{
    font-size: 45px;
}
.superSubText{
    font-size: 15.8px;
}
.section .col1 {
    flex: 0 0 50%;
    max-width: 50%;
}
.section .col2{
    padding: 0;
}
.heroSection{
    margin-top: 20px;
}
.step .steps{
    flex-wrap: wrap;
}
.steps{
    flex-direction: column;

}
.step .steps .step1, .step .steps .step2, .step .steps .step3{
    max-width: 100%;
}
.hero{
    flex-direction: column;
    width: 100%;
}
.heroLeft{
    margin-top: 20px;
    flex: 0 0 100%;
    max-width: 100%;
}
.heroRight{
    margin-top: 30px;
    flex: 0 0 95%;
    max-width: 95%;
    align-self: flex-start;
}
.heroForm input {
    width: 70%;
}
.futurePaymentSection .row1,.futurePaymentSection .row2{
    flex-direction: column;
    align-items: start;
}
.futurePaymentSection .row1 .col1,.futurePaymentSection .row1 .col2 , .futurePaymentSection .row2 .col2{
    max-width: 100%;
    width: 100%;
}
}
@media screen and (max-width:766px){
    
}